.padding-t-4 {
  padding-top: 4px !important;
}

.padding-b-4 {
  padding-bottom: 4px !important;
}

.fixed-center {
  left: 50%;
  top: 50%;
  position: fixed;
  transform: translate(-50%, -50%);
}

.sign-in-sign-up-segment {
  width: 420px;
  min-height: 500px;
}

#upload-button {
  position: fixed;
  bottom: 24px;
  right: 24px;
  box-shadow: 0 6px 10px 0 rgba(0,0,0,0.14),
    0 1px 18px 0 rgba(0,0,0,0.12),
    0 3px 5px -1px rgba(0,0,0,0.2);
}


.image-card-container {

}
.image-card-container .image-card {
  max-height: 800px;
  width: 420px;
  padding: 10px 10px 10px 10px;
  transition: -webkit-transform .2s;
  -webkit-transition: -webkit-transform .2s;
  transition: transform .2s;
  transition: transform .2s, -webkit-transform .2s;
  transition: transform .2s,-webkit-transform .2s;
}
