.padding-t-4 {
  padding-top: 4px !important;
}

.padding-b-4 {
  padding-bottom: 4px !important;
}

.fixed-center {
  left: 50%;
  top: 50%;
  position: fixed;
  transform: translate(-50%, -50%);
}

.sign-in-sign-up-segment {
  width: 420px;
  min-height: 500px;
}

.upload-button {
  position: fixed;
  bottom: 20px;
  right: 20px;
}
